Repository beyond-sw-camp/be08-4th-DQ-OMOS, pull requests merged in 2024-09, with the labels that each got.

#52 [design#51] TopbarAlarm & TopbarNotice 생성 및 모달창 생성
  Frontend/src/views/pages/main/component/TopbarAlarm.vue
  Frontend/src/views/pages/main/component/TopbarNotice.vue
Labels: 🎨 design, 💻 frontend

#54 [design/#53] 캘린더 이벤트 등록시 모달창을 위해 페이지 추가
  Frontend/src/views/pages/calendar/CalendarPage.vue
  Frontend/src/views/pages/calendar/EventDetailModal.vue
  Frontend/src/views/pages/calendar/EventModal.vue
  Frontend/src/views/pages/calendar/utils/data.js
Labels: 🎨 design, 💻 frontend

#56 [design/#55] 캘린더 페이지 적용시 사이드바 간격 수정
  Frontend/src/views/pages/calendar/CalendarPage.vue
Labels: 🎨 design, 💻 frontend

#58 [refactor#57] 사이드 수정 및 안쓰는 페이지 정리
  Frontend/src/layout/AppMenu.vue
  Frontend/src/router/index.js
Labels: 🔨 Refactor, 💻 frontend

#62 [setting/#61] discord-service 개발 환경 및 초기 세팅
  Backend/discord-service/.gitignore
  Backend/discord-service/.idea/.gitignore
  Backend/discord-service/.idea/.name
  Backend/discord-service/.idea/compiler.xml
  Backend/discord-service/.idea/jarRepositories.xml
  Backend/discord-service/.idea/misc.xml
  Backend/discord-service/.idea/vcs.xml
  Backend/discord-service/HELP.md
  Backend/discord-service/build.gradle
  Backend/discord-service/gradle/wrapper/gradle-wrapper.jar
  Backend/discord-service/gradle/wrapper/gradle-wrapper.properties
  Backend/discord-service/gradlew
  Backend/discord-service/gradlew.bat
  Backend/discord-service/settings.gradle
  Backend/discord-service/src/main/java/com/dailyquest/discord/DiscordServiceApplication.java
  Backend/discord-service/src/main/java/com/dailyquest/discord/discordbot/BotInitializer.java
  Backend/discord-service/src/main/java/com/dailyquest/discord/discordbot/MyListener.java
  Backend/discord-service/src/test/java/com/dailyquest/discord/DiscordServiceApplicationTests.java
Labels: ⚙ Setting, 💻 backend

#65 [design/#64] 출결 관리 페이지 UI수정 및 서비스 수정
  Frontend/src/views/pages/attendance/Attendance.vue
  Frontend/src/views/pages/attendance/service/AttendanceService.js
Labels: 🎨 design, 💻 frontend

#71 [design/#70] 출결 관리 페이지 처리 버튼 수정
  Frontend/src/views/pages/attendance/Attendance.vue
  Frontend/src/views/pages/attendance/service/AttendanceService.js
Labels: 🎨 design, 💻 frontend

#73 [design/#72] PrimeVue Dialog를 사용해서 이벤트 모달창 수정
  Frontend/src/views/pages/calendar/CalendarPage.vue
  Frontend/src/views/pages/calendar/EventDetailModal.vue
  Frontend/src/views/pages/calendar/EventModal.vue
Labels: 🎨 design, 💻 frontend

#75 [design#74] 버튼 클릭 시 active 효과 추가
  Frontend/src/views/pages/studentlist/StudentListPage.vue
Labels: 🎨 design, 💻 frontend

#77 [setting#76] kubernetes student-service setting
  Backend/student-service/Dockerfile
  Backend/student-service/src/main/resources/application-dev.yml
  Backend/student-service/src/main/resources/application-live.yml
  Backend/student-service/src/main/resources/application.yml
  k8s/mariadb/mariadb-config.yaml
  k8s/mariadb/mariadb-deployment.yaml
  k8s/mariadb/mariadb-pv.yaml
  k8s/mariadb/mariadb-pvc.yaml
  k8s/mariadb/mariadb-secret.yaml
  k8s/mariadb/mariadb-service.yaml
  k8s/service/student-deploy.yaml
  k8s/service/student-service.yaml
Labels: ⚙ Setting, 💻 frontend, 💻 backend

#80 [setting/#78] k8s calendar-service
  Backend/calendar-service/Dockerfile
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/controller/ScheduleController.java
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/dto/ScheduleResponseDto.java
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/entity/Schedule.java
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/entity/ScheduleType.java
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/service/ScheduleService.java
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/service/ScheduleServiceImpl.java
  Backend/calendar-service/src/main/resources/application-dev.yml
  Backend/calendar-service/src/main/resources/application-live.yml
  Backend/calendar-service/src/main/resources/application.yml
  k8s/mariadb/mariadb-config.yaml
  k8s/mariadb/mariadb-deployment.yaml
  k8s/mariadb/mariadb-pv.yaml
  k8s/mariadb/mariadb-pvc.yaml
  k8s/mariadb/mariadb-secret.yaml
  k8s/mariadb/mariadb-service.yaml
  k8s/service/calendar-deploy.yaml
  k8s/service/calendar-service.yaml
Labels: ⚙ Setting, 💻 backend

#85 [setting/#84]k8s auth-service 세팅, frontend 세팅
  Backend/auth-service/Dockerfile
  Backend/auth-service/src/main/resources/application-dev.yml
  Backend/auth-service/src/main/resources/application-live.yml
  Frontend/src/service/authService.js
  Frontend/src/views/pages/auth/OAuth2Redirect.vue
  Frontend/src/views/pages/auth/SignInDialog.vue
  Frontend/src/views/pages/main/MainPage.vue
  k8s/frontend/Dockerfile
  k8s/frontend/default.conf
  k8s/frontend/dist/assets/Attendance-CTYjUkVq.js
  k8s/frontend/dist/assets/CalendarPage-EHBZR-O5.css
  k8s/frontend/dist/assets/CalendarPage-iH_80Ghh.js
  k8s/frontend/dist/assets/MainPage-BsZvTAoI.js
  k8s/frontend/dist/assets/StudentListPage-CPKTsL7G.css
  k8s/frontend/dist/assets/StudentListPage-QgW7t6aj.js
  k8s/frontend/dist/assets/flags_responsive-DbRDn7iy.png
  k8s/frontend/dist/assets/index-0PJZkk-r.css
  k8s/frontend/dist/assets/index-BQp_UNXb.js
  k8s/frontend/dist/assets/index-BWH2JpRW.js
  k8s/frontend/dist/assets/index-BaXTvT8w.js
  k8s/frontend/dist/assets/index-DRPdype-.js
  k8s/frontend/dist/assets/primeicons-BubJZjaf.svg
  k8s/frontend/dist/assets/primeicons-CCFeZR6K.woff
  k8s/frontend/dist/assets/primeicons-Dk_eWBPK.eot
  k8s/frontend/dist/assets/primeicons-DsZ1W7-Z.woff2
  k8s/frontend/dist/assets/primeicons-NDVQFXzF.ttf
  k8s/frontend/dist/demo/data/countries.json
  k8s/frontend/dist/demo/data/customers-large.json
  k8s/frontend/dist/demo/data/customers-medium.json
  k8s/frontend/dist/demo/data/events.json
  k8s/frontend/dist/demo/data/icons.json
  k8s/frontend/dist/demo/data/photos.json
  k8s/frontend/dist/demo/data/products-orders-small.json
  k8s/frontend/dist/demo/data/products-small.json
  k8s/frontend/dist/demo/data/products.json
  k8s/frontend/dist/demo/data/treenodes.json
  k8s/frontend/dist/demo/data/treetablenodes.json
  k8s/frontend/dist/demo/images/access/asset-access.svg
  k8s/frontend/dist/demo/images/error/asset-error.svg
  k8s/frontend/dist/demo/images/flag/flag_placeholder.png
  k8s/frontend/dist/demo/images/landing/enterprise.svg
  k8s/frontend/dist/demo/images/landing/free.svg
  k8s/frontend/dist/demo/images/landing/mockup-desktop.svg
  k8s/frontend/dist/demo/images/landing/mockup.svg
  k8s/frontend/dist/demo/images/landing/new-badge.svg
  k8s/frontend/dist/demo/images/landing/peak-logo.svg
  k8s/frontend/dist/demo/images/landing/screen-1.png
  k8s/frontend/dist/demo/images/landing/startup.svg
  k8s/frontend/dist/demo/images/logo-white.svg
  k8s/frontend/dist/demo/images/logo.svg
  k8s/frontend/dist/favicon.ico
  k8s/frontend/dist/index.html
  k8s/frontend/frontend-deploy.yaml
  k8s/frontend/frontend-service.yaml
  k8s/service/auth-deploy.yaml
  k8s/service/auth-service.yaml
Labels: ⚙ Setting, 💻 frontend, 💻 backend

#93 [setting#92] compose, ingress 셋팅
  Backend/student-service/src/main/java/com/dailyquest/student/controller/StudentController.java
  Frontend/src/views/pages/studentlist/StudentListPage.vue
  k8s/common/docker-compose.yaml
  k8s/common/omos-ingress.yaml
Labels: ⚙ Setting, 💻 frontend

#95 [setting/#94] k8s 서비스별 접근 개발 환경 완성
  Backend/auth-service/build.gradle
  Backend/notification-service/src/main/resources/application.yml
  Backend/student-service/src/main/java/com/dailyquest/student/StudentServiceApplication.java
  Backend/student-service/src/main/java/com/dailyquest/student/config/WebConfig.java
  Backend/student-service/src/main/java/com/dailyquest/student/controller/ClassController.java
  Backend/student-service/src/main/java/com/dailyquest/student/controller/StudentController.java
  Frontend/src/views/pages/studentlist/StudentListPage.vue
  k8s/mariadb/mariadb-config.yaml
  k8s/mariadb/mariadb-deployment.yaml
  k8s/service/auth-deploy.yaml
  k8s/service/calendar-deploy.yaml
  k8s/service/notice-deploy.yaml
  k8s/service/notification-deploy.yaml
  k8s/service/student-deploy.yaml
Labels: ⚙ Setting, 💻 frontend, 💻 backend

#99 [refactor/#98] 환경 테스트 및 auth yml 파일 수정
  Backend/auth-service/src/main/resources/application-dev.yml
  Backend/auth-service/src/main/resources/application-live.yml
  k8s/frontend/frontend-deploy.yaml
  k8s/service/auth-deploy.yaml
  k8s/service/calendar-deploy.yaml
  k8s/service/notice-deploy.yaml
  k8s/service/notification-deploy.yaml
  k8s/service/student-deploy.yaml
Labels: 🔨 Refactor, 💻 backend

#101 [setting/#100] k8s 개발 환경 세팅
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/config/SwaggerConfig.java
  Backend/calendar-service/src/main/resources/application.yml
  Backend/notice-service/src/main/java/com/dailyquest/notice/config/SwaggerConfig.java
  Backend/notice-service/src/main/resources/application.yml
  Backend/notification-service/Dockerfile
  Backend/notification-service/src/main/java/com/dailyquest/notification/config/SwaggerConfig.java
  Backend/notification-service/src/main/resources/application.yml
  Backend/student-service/src/main/java/com/dailyquest/student/config/SwaggerConfig.java
  Backend/student-service/src/main/resources/application-dev.yml
  Backend/student-service/src/main/resources/application-live.yml
  Backend/student-service/src/main/resources/application.yml
  k8s/common/docker-compose.yaml
  k8s/common/omos-ingress.yaml
  k8s/frontend/frontend-deploy.yaml
  k8s/service/auth-deploy.yaml
  k8s/service/calendar-deploy.yaml
  k8s/service/notice-deploy.yaml
  k8s/service/notification-deploy.yaml
  k8s/service/student-deploy.yaml
Labels: ⚙ Setting, 💻 frontend, 💻 backend

#103 [refactor/#102] api key, db 정보 암호화작업 + aws db연동
  Backend/calendar-service/.gitignore
  Backend/calendar-service/build.gradle
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/CalendarServiceApplication.java
  Backend/calendar-service/src/main/resources/application.yml
  Backend/discord-service/.gitignore
  Backend/discord-service/build.gradle
  Backend/discord-service/src/main/java/com/dailyquest/discord/DiscordServiceApplication.java
  Backend/discord-service/src/main/resources/application.yml
  Backend/notice-service/.gitignore
  Backend/notice-service/build.gradle
  Backend/notice-service/src/main/java/com/dailyquest/notice/NoticeServiceApplication.java
  Backend/notice-service/src/main/resources/application.yml
  Backend/notification-service/.gitignore
  Backend/notification-service/build.gradle
  Backend/notification-service/src/main/java/com/dailyquest/notification/NotificationServiceApplication.java
  Backend/notification-service/src/main/resources/application.yml
  Backend/student-service/Jenkinsfile
Labels: 🔨 Refactor, 💻 backend

#105 Update .gitignore
  Backend/student-service/.gitignore
Labels: ✅ Test

#107 [setting/#106] 젠킨스 cicd 구축
  Backend/auth-service/Jenkinsfile
  Backend/auth-service/src/main/java/com/dailyquest/auth/AuthServiceApplication.java
  Backend/auth-service/src/main/resources/application.yml
  k8s/service/auth-deploy.yaml
Labels: ⚙ Setting, 💻 backend

#112 [fix/#111] notification-service
  Backend/calendar-service/src/main/java/com/dailyquest/calendar/config/SwaggerConfig.java
  Backend/notice-service/src/main/java/com/dailyquest/notice/config/SwaggerConfig.java
  Backend/notification-service/Dockerfile
  Backend/notification-service/src/main/java/com/dailyquest/notification/config/SwaggerConfig.java
  Backend/student-service/src/main/java/com/dailyquest/student/config/SwaggerConfig.java
  Backend/student-service/src/main/resources/application-dev.yml
  Backend/student-service/src/main/resources/application-live.yml
  k8s/common/docker-compose.yaml
  k8s/common/omos-ingress.yaml
Labels: 🐞 Fix, 💻 backend

#114 [refactor/#113] endpoint 수정
  Backend/notification-service/src/main/java/com/dailyquest/notification/controller/NotificationController.java
Labels: 🔨 Refactor, 💻 backend

#115 Update Readme
  Images/시스템 아키텍처.png
  README.md
Labels: 📃 Docs

#119 [design/#118] MainPage 모달창 수정
  Frontend/src/views/pages/main/MainPage.vue
Labels: 🎨 design, 💻 frontend

#120 studentDetail 모달창 오류 수정
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/views/pages/studentDetail/StudentDetailModal.vue
  Frontend/src/views/pages/studentlist/StudentListPage.vue
Labels: 🐞 Fix, 💻 backend
