Repository beyond-sw-camp/be08-4th-DQ-OMOS, pull requests merged in 2024-08, with the labels that each got.

#6 [design/#5] PR테스트
  Frontend/src/App.vue
Labels: 🎨 design, 💻 frontend

#8 design : change logo
  Frontend/src/layout/AppTopbar.vue
Labels: 🎨 design, 💻 frontend

#10 design : topbar 수정
  Frontend/src/layout/AppTopbar.vue
Labels: 🎨 design, 💻 frontend

#12 [design#11] topbar rename
  Frontend/src/layout/AppTopbar.vue
Labels: 🎨 design, 💻 frontend

#14 [design/#13] 메인페이지 퍼블리싱
  Frontend/src/views/pages/main/MainPage.vue
  Frontend/src/views/pages/main/component/AppConfigurator.vue
Labels: 🎨 design, 💻 frontend

#16 [design/#15] 메인페이지
  Frontend/src/views/pages/main/MainPage.vue
Labels: 🎨 design, 💻 frontend

#20 [design#19] test
  Frontend/src/views/pages/main/MainPage.vue
Labels: 🎨 design, 💻 frontend

#24 [setting/#21] pinia 라이브러리 설치 및 eslintrc rules 수정
  Frontend/.eslintrc.cjs
  Frontend/package-lock.json
  Frontend/package.json
Labels: ⚙ Setting, 💻 frontend

#28 [refactor#27] table -> studentListPage로 디렉토리 수정 및 router 수정
  Frontend/src/layout/AppMenu.vue
  Frontend/src/router/index.js
  Frontend/src/views/pages/studentlist/StudentListPage.vue
Labels: 🔨 Refactor, 💻 frontend

#30 [design#29] 학생 목록 페이지 css 수정
  Frontend/src/views/pages/studentlist/StudentListPage.vue
Labels: 🎨 design, 💻 frontend

#34 [fix#33] 모달창 close 이벤트 @hide -> @update:visible 로 변경
  Frontend/src/views/pages/studentDetail/StudentDetailModal.vue
  Frontend/src/views/pages/studentlist/StudentListPage.vue
Labels: 🐞 Fix, 💻 frontend

#36 design : Modal 디자인 변경
  Frontend/src/views/pages/studentDetail/StudentDetailModal.vue
Labels: 🎨 design, 💻 frontend

#38 [design/#37] Topbar에 알람 및 모달창 생성
  Frontend/src/views/pages/main/component/AppTopbar.vue
Labels: 🎨 design, 💻 frontend

#40 [design/#39] 로그인, 회원가입 dialog 디자인 수정 및 컴포넌트 분리
  Frontend/src/layout/AppTopbar.vue
  Frontend/src/views/pages/auth/SignInDialog.vue
  Frontend/src/views/pages/auth/SignOutDialog.vue
  Frontend/src/views/pages/auth/SignUpDialog.vue
Labels: 🎨 design, 💻 frontend

#42 [feat/#41] 회원가입 구현
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/layout/AppTopbar.vue
  Frontend/src/service/authService.js
  Frontend/src/views/pages/auth/SignUpDialog.vue
Labels: ✨ Feature, 💻 frontend

#44 [design/#43]CalendarPage 추가 및 router 수정
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/layout/AppMenu.vue
  Frontend/src/router/index.js
  Frontend/src/views/pages/calendar/CalendarPage.vue
Labels: 🎨 design, 💻 frontend

#46 [design/#45] 캘린더 주, 월, 일 표시 및 이벤트 기능
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/views/pages/calendar/CalendarPage.vue
  Frontend/src/views/pages/calendar/utils/event-utils.js
Labels: 🎨 design, 💻 frontend

#48 [feat/#47] auth Service 기능 추가
  Frontend/src/App.vue
  Frontend/src/layout/AppTopbar.vue
  Frontend/src/main.js
  Frontend/src/router/index.js
  Frontend/src/service/authService.js
  Frontend/src/stores/authStore.js
  Frontend/src/views/pages/auth/OAuth2Redirect.vue
  Frontend/src/views/pages/auth/SignInDialog.vue
  Frontend/src/views/pages/auth/SignUpDialog.vue
Labels: ✨ Feature, 💻 frontend

#50 [refactor/#49] Backend 폴더 및 authService 추가
  Backend/authService/.gitignore
  Backend/authService/build.gradle
  Backend/authService/gradle/wrapper/gradle-wrapper.properties
  Backend/authService/gradlew
  Backend/authService/gradlew.bat
  Backend/authService/settings.gradle
  Backend/authService/src/main/java/com/beyond/auth/AuthApplication.java
  Backend/authService/src/main/java/com/beyond/auth/config/SecurityConfig.java
  Backend/authService/src/main/java/com/beyond/auth/config/SwaggerConfig.java
  Backend/authService/src/main/java/com/beyond/auth/config/WebConfig.java
  Backend/authService/src/main/java/com/beyond/auth/controller/OAuth2Controller.java
  Backend/authService/src/main/java/com/beyond/auth/controller/SignController.java
  Backend/authService/src/main/java/com/beyond/auth/dto/form/CustomMemberDetails.java
  Backend/authService/src/main/java/com/beyond/auth/dto/form/JoinDTO.java
  Backend/authService/src/main/java/com/beyond/auth/dto/form/LoginDTO.java
  Backend/authService/src/main/java/com/beyond/auth/dto/oAuth2/CustomOAuth2Member.java
  Backend/authService/src/main/java/com/beyond/auth/dto/oAuth2/GoogleResponse.java
  Backend/authService/src/main/java/com/beyond/auth/dto/oAuth2/NaverResponse.java
  Backend/authService/src/main/java/com/beyond/auth/dto/oAuth2/OAuth2MemberDto.java
  Backend/authService/src/main/java/com/beyond/auth/dto/oAuth2/OAuth2Response.java
  Backend/authService/src/main/java/com/beyond/auth/entity/Member.java
  Backend/authService/src/main/java/com/beyond/auth/entity/RefreshToken.java
  Backend/authService/src/main/java/com/beyond/auth/entity/enums/Role.java
  Backend/authService/src/main/java/com/beyond/auth/entity/enums/Status.java
  Backend/authService/src/main/java/com/beyond/auth/handler/CustomFormSuccessHandler.java
  Backend/authService/src/main/java/com/beyond/auth/handler/CustomLogoutFilter.java
  Backend/authService/src/main/java/com/beyond/auth/handler/CustomOAuth2SuccessHandler.java
  Backend/authService/src/main/java/com/beyond/auth/jwt/JWTFilter.java
  Backend/authService/src/main/java/com/beyond/auth/jwt/JWTUtil.java
  Backend/authService/src/main/java/com/beyond/auth/repository/MemberRepository.java
  Backend/authService/src/main/java/com/beyond/auth/repository/RefreshRepository.java
  Backend/authService/src/main/java/com/beyond/auth/service/CustomOAuth2UserService.java
  Backend/authService/src/main/java/com/beyond/auth/service/CustomUserDetailsService.java
  Backend/authService/src/main/java/com/beyond/auth/service/JoinService.java
  Backend/authService/src/main/java/com/beyond/auth/service/OAuth2JwtHeaderService.java
  Backend/authService/src/main/java/com/beyond/auth/service/RefreshTokenService.java
  Backend/authService/src/main/java/com/beyond/auth/service/ReissueService.java
  Backend/authService/src/main/java/com/beyond/auth/util/CookieUtil.java
  Backend/authService/src/test/java/com/beyond/auth/AuthApplicationTests.java
Labels: 🔨 Refactor, 💻 backend
